<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    
    <add name="MyConnectionString" connectionString="Server=DESKTOP-HQNQOQO;Database=Empleados;User Id=inge_soria;Password=Soria0210;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  
  
</configuration>